html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #282c34;
  color: white;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-layout {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Asegura que el layout ocupe toda la pantalla */
}

nav {
  background-color: #363a45;
  height: 100%; /* Ajusta al 100% del contenedor principal */
  margin-right: 15px;
  overflow-y: auto;
  text-align: center;
  width: 250px;
}

nav ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

nav li {
  list-style: none;
  margin-bottom: 10px;
}

nav li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-active {
  color: grey;
  transition: all 0.3s ease-out;
}

/* Contenido principal */
.content {
  flex: 1; /* Ocupa el espacio restante del layout */
  padding: 20px; /* Espaciado interno */
  overflow-y: auto;
}